<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7T17kwJb9kJm2CEbCvU5e5XAZRIkh5Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>271439071754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.maxence.ProdigesMap</string>
	<key>PROJECT_ID</key>
	<string>prodigesmap</string>
	<key>STORAGE_BUCKET</key>
	<string>prodigesmap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271439071754:ios:940b3552a1459d5a136df3</string>
</dict>
</plist>