{% extends 'base.html.twig' %}

{% block title %}New Transaction{% endblock %}

{% block body %}
    <h1>Make new Transaction</h1>

    {{ include('transaction/_form.html.twig') }}

    <a href="{{ path('app_transaction_index') }}">Back to list</a>
{% endblock %}
