<form method="post" action="{{ path('app_product_delete', {'id': restaurant.id, 'id2': product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="button">Supprimer</button>
</form>