{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>

    {{ include('restaurant/_form.html.twig') }}

    <a href="{{ path('app_restaurant_show', {'id': restaurant.id}) }}">Retour à la liste</a>
{% endblock %}
